.calendar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 0 auto;
    max-width: 1280px;
    min-width: 500px;
    box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.2), 0px 3px 7px rgba(0, 0, 0, 0.1);
    max-height: 80vh;
}

.calendar .calendar-header {
    display: flex;
    flex-direction: row;
    background-color: var(--beigh);
}

.calendar .calendar-body {
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow-y: auto;
}

.calendar .calendar-header .day-header {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.calendar .calendar-header .day-header .day-name {
    width: 100%;
    text-align: center;
}

.calendar .calendar-header .day-header .date {
    width: 100%;
    text-align: center;
}

.calendar .calendar-header .day-header {
    border-bottom: 1px solid black;
    width: 100%;
    text-align: center;
}

.calendar .day-column {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.calendar .day-column .day-hours {
    width: 100%;
    height: max-content;
    display: table;
    flex-direction: column;
    border-bottom: 1px solid black;
}

.calendar .day-column .day-hours .time-cell {
    width: 100%;
    height: 100%;
    display: table;
    flex-direction: column;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    padding: 2%;
    box-sizing: border-box;
    flex: 0 0 auto;
}

.calendar .day-column .day-hours .hour-cell {
    border-bottom: 1px solid rgba(128, 128, 128, 0.486);
}


.calendar .day-column .day-hours .hour-title-cell {
    display: flex;
    align-items: center;
    border-bottom: 0px;
    border-bottom: 1.5px solid var(--coral);
    background-color: var(--beigh);
}

.calendar .day-column .day-hours .event {
    height: 100%;
    width: 100%;
    background-color: rgb(231, 55, 84);
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    color: white;
    padding-left: 7%;
    padding-top: 5%;
    cursor: pointer;
    /*box-shadow: 5px 10px #888888;*/
}

.calendar .day-column .day-hours .event:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

/* .calendar .day-column .day-hours .event .event-title {}

.calendar .day-column .day-hours .event .event-description {} */

.header {
    animation: fadeIn linear 7s;
    -webkit-animation: fadeIn linear 7s;
    -moz-animation: fadeIn linear 7s;
    -o-animation: fadeIn linear 7s;
    -ms-animation: fadeIn linear 7s;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }