:root{
    --yellow: rgb(248, 232, 195);
    --peach: rgb(253, 211, 190);
    --pink: rgb(243, 177, 164);
    --grey: rgb(155, 158, 163);
    --green: rgba(145,163,163);
    --mouse: rgba(225,231,231);
    --coral: #ed7966;
}

body {
    background-color: var(--mouse);
}

.btn_general {
    border: unset;
    padding: 7px 50px;
    border-radius: 5px;
    background-color: var(--coral);
    color: white;
    /* font-weight: bold; */
}

.btn_general:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    background-color: var(--pink);
}

.navbar-brand img {
    border-radius: 15px;
}

.social-wrap {
    display: flex;
    margin-right: 10px;
}

.social-wrap a {
    margin-right: 5px;
}

/* .sign-in-button{
    color: rgba(0,0,0,.55);
    display: block;
    padding: 0.5rem 1rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    text-decoration: none;
    min-width: 15px;
    box-sizing: unset;
} */

/* .sign-in-button:hover{
    color: var(--bs-gray-dark);
} */