:root{
    --yellow: rgba(251,243,224);
    --peach: rgba(254,228,215);
    --pink: rgba(242,213,207);
    --grey: rgba(170,173,178);
    --green: rgba(145,163,163);
    --mouse: rgba(225,231,231);
}

.navbar-brand img {
    border-radius: 15px;
}

.social-wrap {
    display: flex;
    margin-right: 10px;
}

.social-wrap a {
    margin-right: 5px;
}

/* .sign-in-button{
    color: rgba(0,0,0,.55);
    display: block;
    padding: 0.5rem 1rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    text-decoration: none;
    min-width: 15px;
    box-sizing: unset;
} */

/* .sign-in-button:hover{
    color: var(--bs-gray-dark);
} */