@import url();

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.contact_grid
{
    grid-gap: 20px;
    background-color: var(--pale_pink);
    /* position: relative; */
    min-height: 100vh;
    padding: 50px 100px;
    display: grid;
    grid-template-areas: 
    'contact_header contact_header map map'
    'address address map map'
    'phone phone map map'
    'email email map map'
    'form form form form';
}
.contact_grid .content
{
    /* max-width: 800px; */
    text-align:center;
}
.contact_grid .content h2
{
    font-size: 36px;
    font-weight:500 ;
    color: var(--navy) ;
    text-align: center;
}

.contact_grid .content p
 {
    font-weight:300 ;
    color: var(--navy) ;
    text-align: center;
}

#contact_header {
    grid-area: contact_header;
}

#address {
    grid-area: address;
    /* border: solid; */
    border-radius: 20px;
    background-color: var(--yellow);
    box-shadow: 5px 5px rgb(77 60 39 / 50%);
}

#phone {
    grid-area: phone;
    /* border: solid; */
    border-radius: 20px;
    background-color: var(--yellow);
    box-shadow: 5px 5px rgb(77 60 39 / 50%);
}

#email {
    grid-area: email;
    /* border: solid; */
    border-radius: 20px;
    background-color: var(--yellow);
    box-shadow: 5px 5px rgb(77 60 39 / 50%);
}

#form {
    grid-area: form;
    /* border: solid; */
    background-color: var(--pink);
    border-radius: 20px;
    box-shadow: 5px 5px rgb(77 60 39 / 50%);
    padding: 5px;
}

#map {
    grid-area: map;
}
