body {
    background-color: #cccccc;
}

.home_div {
    background-color: rgba(255, 255, 255, 0.644);
    border-radius: 15px;
    padding: 20px 30px;
    margin-top: 60px;
    font-size: 20px;
}

.home_div h2 {
    margin-bottom: 30px;
}

.home_div a {
    color: var(--darkcoral);
    text-decoration: unset;
}

.home_div a:hover {
    color: var(--coral);
}

.headerContainer {
    background-image: linear-gradient(to bottom, rgba(56, 55, 55, 0.7), rgba(56, 55, 55, 0.7)), url("images/pilatespic.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {

    font-size: 150px;
    animation: fadeIn linear 7s;
    -webkit-animation: fadeIn linear 7s;
    -moz-animation: fadeIn linear 7s;
    -o-animation: fadeIn linear 7s;
    -ms-animation: fadeIn linear 7s;
    color: white;
    text-align: center;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    margin: 70px;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}