body {
    background-image: linear-gradient(to bottom, rgba(56, 55, 55, 0.7), rgba(56, 55, 55,  0.7)), url("images/pilatespic.png");;
 background-color: #cccccc;
}
.header {
color: white;
text-align: center;
font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
text-s
}
