.content{
    grid-area: main;
    padding: 16px;
    text-align: center;
}

.content .price_list_written p{
    color: grey;
    line-height: 2;
    font-size: 20px;
}


.content form .container .container_form{
    background-color: white;
    text-align: center;
    padding: 1px;
}


