.price_list {
    color: grey;
}

.price_list form {
    line-height: 2;
    font-size: 20px;
}

.price_list form input[type="radio"]:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid var(--coral);
}

.price_list form input[type="radio"]:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: var(--coral);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid var(--coral);
}
.about_us_header {
    animation: fadeIn linear 7s;
    -webkit-animation: fadeIn linear 7s;
    -moz-animation: fadeIn linear 7s;
    -o-animation: fadeIn linear 7s;
    -ms-animation: fadeIn linear 7s;
}
  
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  