

.profile_general_container {
    display: grid;
    grid-template-areas: 'tab_content menuTabs';
    grid-template-columns: auto 250px;
}

.menuTabs {
    grid-area: menuTabs;
    background-color: #c9afa7;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    /* width: 150px; */
    /* height: 240px; */
    /* margin: 200px 40px; */
}


.tabcontent {
    grid-area: tab_content;
    align-items: center;
    padding: 0px 200px;
    width: 600px;
    height: 440px;
    margin: 120px 100px;
    border-radius: 10px;
    border: 1px solid #c9afa7;
}

.tabcontent .tab {
    border-radius: 10px;
    width: 150px;
    height: 240px;
    margin: 200px 40px;
}


.menuTabs button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 30px 16px;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    font-size: 18px;
    color: #fdf7f5;
}


/* Change background color of buttons on hover */
.menuTabs button:hover {
    background-color: #ad948c;
}

/* Create an active/current "tab button" class */
.menuTabs button.active {
    background-color: #ad948c;
}

.profile_general_container .tabcontent h3 {
    margin: 10px;
    padding: 10px;
    color: #927e7b;
    justify-content: space-evenly;
    text-align: center;
    position: center;
}

.profile_general_container .tabcontent hr {
    border: 1px solid #c9afa7;
}


.tabcontent_grid_container {

    display: grid;
    grid-template-areas:
                'bottom bottom'
                'update details';
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    text-align: center;

}

.divBut {
    grid-area: bottom;

}

.divDet {
    grid-area: details;

}

.divUp {
    grid-area: update;


}

.profile_general_container .tablinks{
    font-family: Rubik, sans-serif;
}


.profile_general_container .tabcontent .upButton {
    margin: 10px;
    padding: 10px;
    justify-content: space-evenly;
    text-align: center;
    color: #fdf7f5;
    background-color: #d7c4bd;
    border: none;
    border-radius: 10px;
}

.profile_general_container .tabcontent .upButton:hover {
    background-color: #ad948c;
}

.profile_general_container .tabcontent .tabcontent_grid_container .divUp .forms .container .update {
    display: block;
    width: 250px;
    height: 20px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}