.grid {
    display: grid;
    grid-gap: 20px;
}

.rec_workout {
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    margin: 5px 150px;
    background-color: var(--beigh);
    color: var(--navy);
    box-shadow: 5px 5px rgba(77, 60, 39, 0.5);
}

.rec_workout iframe {
    width: 480px;
    height: 315px;
    /* border: solid; */
    border-radius: 5px;
}

.more_info {
    text-align: center;
}

.more_info a {
    color: var(--coral);
}

.more_info a:hover {
    color: var(--peach);
}