.grid {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
        "w_0 w_0 w_0 w_0 w_0 w_0"
        "w_1 w_1 w_1 w_2 w_2 w_2"
        "w_3 w_3 w_3 w_4 w_4 w_4";
}

h3 {
    text-align: center;
    margin-bottom: 20px;
}

.workout {
    padding: 20px;
    border-radius: 15px;
    background-color: var(--beigh);
    box-shadow: 5px 5px rgba(77, 60, 39, 0.5);
    font-size: 20px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.workout:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.workout a {
    color: var(--coral);
}

.workout a:hover {
    color: var(--peach);
}

.workout_pic {
    text-align: center;
}

.workout_pic img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 15px;
}

#w_0 {
    grid-area: w_0;
    margin: 0 25px;
    text-align: center;
}


#w_1 {
    grid-area: w_1;
    margin-left: 25px;
}

#w_2 {
    grid-area: w_2;
    margin-right: 25px;
}

#w_3 {
    grid-area: w_3;
    margin-left: 25px;
}

#w_4 {
    grid-area: w_4;
    margin-right: 25px;
}

.prices_btn {
    text-align: center;
    margin: 25px;
}

@media (max-width: 800px) {
    .grid {
        grid-template-areas:
            "w_0"
            "w_1"
            "w_2"
            "w_3"
            "w_4";
    }

    #w_0 {
        margin: 0 25px;
    }

    #w_1 {
        margin: 0 25px;
    }

    #w_2 {
        margin: 0 25px;
    }

    #w_3 {
        margin: 0 25px;
    }

    #w_4 {
        margin: 0 25px;
    }
}

.btn_redorded {
    border: unset;
    padding: 7px 50px;
    border-radius: 5px;
    background-color: var(--coral);
    color: white;
    /* font-weight: bold; */
}

.btn_redorded:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    background-color: var(--pink);
}

.head {
    animation: fadeIn linear 7s;
    -webkit-animation: fadeIn linear 7s;
    -moz-animation: fadeIn linear 7s;
    -o-animation: fadeIn linear 7s;
    -ms-animation: fadeIn linear 7s;
}
  
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
